.rbc-toolbar button {
  color: var(--white);
}
.rbc-toolbar button:hover,
.rbc-toolbar button:active,
.rbc-toolbar button:focus,
.rbc-active {
  color: var(--black) !important;
  background-color: var(--brand-color) !important;
}

.rbc-today {
  background-color: var(--brand-link);
}

.rbc-header {
  border-bottom: none;
}

.rbc-time-content {
  border-top: 1px solid white;
}

.rbc-header.rbc-today {
  color: var(--black);
}

.rbc-day-slot .rbc-events-container {
  margin-right: auto;
}

.rbc-day-slot .rbc-event {
  background-color: var(--brand-color);
  border: none;
  color: var(--black);
  /* border-radius: 0; */
  border: 1px solid black;
  cursor: unset;
}

.rbc-label {
  padding: 0 3px;
}

.rbc-event-label,
.rbc-allday-cell {
  display: none;
}

.rbc-agenda-view table.rbc-agenda-table .rbc-agenda-time-cell {
  border-left: 1px solid #ddd;
}
