.rbc-toolbar button {
  color: var(--white);
}
.rbc-toolbar button:hover,
.rbc-toolbar button:active,
.rbc-toolbar button:focus,
.rbc-active {
  color: var(--black) !important;
  background-color: var(--brand-color) !important;
}

.rbc-today {
  background-color: var(--concrete);
}

.rbc-header.rbc-today {
  color: var(--black);
}

.rbc-day-slot .rbc-events-container {
  margin-right: auto;
}

.rbc-day-slot .rbc-event {
  background-color: var(--brand-color);
  border: none;
  color: var(--black);
}

.rbc-event {
  border-radius: 0;
  cursor: unset;
}
