:root {
  /* Flat UI Palette v1 */
  --midnight-blue: #2c3e50;
  --wet-asphalt: #34495e;
  --dracula-orchid: #2d3436;
  --black-pearl: #1e272e;
  --good-night: #485460;
  --silver: #bdc3c7;
  --clouds: #ecf0f1;
  --concrete: #95a5a6;
  --belize-hole: #2980b9;
  --blue-marina: #12cbc4;
  --peter-river: #3498db;
  --electron-blue: #0984e3;
  --merchant-marine-blue: #0652dd;
  --emerald: #2ecc71;
  --emerald-link: rgba(46, 204, 113, 0.7);
  --alizarin: #e74c3c;
  --red-pigment: #ea2027;
  --carrot: #e67e22;
  --sun-flower: #f1c40f;
  --sun-flower-link: rgba(241, 196, 15, 0.7);
  --amethyst: #9b59b6;
  --indigo: #3f00ff;

  --instagram-color: #e1306c;
  --facebook-color: #4267b2;
  --whatsapp-color: #00e676;

  /* Brand colors */
  --black: #000000;
  --brand-color: #eeff05;
  --brand-color-rgba: rgba(238, 255, 5, 0);
  --brand-link: rgba(238, 255, 5, 0.7);

  /* Mesurement values */
  --navbar-height: 76px;
}

@font-face {
  font-family: "Gobold";
  src: url("../fonts/gobold.woff2") format("woff2");
}

@font-face {
  font-family: "Gobold Thin";
  src: url("../fonts/gobol-thin.woff2") format("woff2");
}

@font-face {
  font-family: "Gobold Cuts";
  src: url("../fonts/gobold-cuts.woff2") format("woff2");
}

@font-face {
  font-family: "Gobold Light";
  src: url("../fonts/gobold-light.woff2") format("woff2");
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Quicksand", Calibri, "Trebuchet MS", sans-serif, cursive;
  margin-top: var(--navbar-height);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-brand {
  font-family: "Gobold Thin";
}

.font-brand-bold {
  font-family: "Gobold";
}

.font-brand-cuts {
  font-family: "Gobold Cuts";
}

.font-brand-2 {
  font-family: "Quicksand";
}

.font-brand-light {
  font-family: "Gobold Light";
}

/* Extending the orginal class from Bootstrap */
.btn:hover {
  cursor: pointer;
}

.btn {
  border-radius: 40px;
}

/* Text color classes */
.text-brand {
  color: var(--brand-color);
}

.text-silver {
  color: var(--silver);
}

/* Link color classes */
.link-brand {
  color: var(--brand-color);
  text-decoration: underline;
}

.link-brand:hover {
  color: var(--brand-link);
  cursor: pointer;
  text-decoration: underline;
}

.divider {
  margin: 1.5rem 0;
  background-color: var(--brand-color);
  width: 50vw;
}

.cone {
  max-height: 200px;
}

.opacity-black-75 {
  background-color: rgba(0, 0, 0, 0.75);
}

.background-color-black {
  background-color: var(--black);
}

.responsive-background {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.background-position-fixed {
  background-attachment: fixed;
}

.color-brand-filter {
  width: 100%;
  height: 100%;

  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    var(--brand-color) 200%
  );
}

/* Extra small devices (portrait phones, less than 576px) */
/* @media (max-width: 575px) {
} */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Column management */
/* Small devices (landscape phones) */
@media (min-width: 576px) and (max-width: 767.98px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Column management */
/* Medium devices (tablets) */
@media (min-width: 768px) and (max-width: 991.98px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container-100vh {
    height: calc(100% - var(--navbar-height));
    height: calc(100vh - var(--navbar-height));
  }
}

/* Column management */
/* Large devices (desktops) */
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
