:root {
  /* Flat UI Palette v1 */
  --midnight-blue: #2c3e50;
  --wet-asphalt: #34495e;
  --dracula-orchid: #2d3436;
  --black-pearl: #1e272e;
  --good-night: #485460;
  --silver: #bdc3c7;
  --clouds: #ecf0f1;
  --concrete: #95a5a6;
  --belize-hole: #2980b9;
  --blue-marina: #12cbc4;
  --peter-river: #3498db;
  --electron-blue: #0984e3;
  --merchant-marine-blue: #0652dd;
  --emerald: #2ecc71;
  --emerald-link: rgba(46, 204, 113, 0.7);
  --alizarin: #e74c3c;
  --red-pigment: #ea2027;
  --carrot: #e67e22;
  --sun-flower: #f1c40f;
  --sun-flower-link: rgba(241, 196, 15, 0.7);
  --amethyst: #9b59b6;
  --indigo: #3f00ff;

  --instagram-color: #e1306c;
  --github-color: #24292e;
  --facebook-color: #4267b2;
  --whatsapp-color: #00e676;

  /* Other random colors */
  --black: #2a2a2e;
  --brand-color: #eeff05;
  --brand-link: rgba(238, 255, 5, 0.7);
}

@font-face {
  font-family: "Gobold";
  src: url("../fonts/gobold.woff2") format("woff2");
}

@font-face {
  font-family: "Gobold Thin";
  src: url("../fonts/gobol-thin.woff2") format("woff2");
}

@font-face {
  font-family: "Gobold Cuts";
  src: url("../fonts/gobold-cuts.woff2") format("woff2");
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Gobold Thin", "Quicksand", Calibri, "Trebuchet MS", sans-serif,
    cursive;
  margin-top: 77px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-brand {
  font-family: "Gobold Thin";
}

.font-brand-bold {
  font-family: "Gobold";
}

.font-brand-cuts {
  font-family: "Gobold Cuts";
}

.font-brand-2 {
  font-family: "Quicksand";
}

/* Extending the orginal class from Bootstrap */
.btn:hover {
  cursor: pointer;
}

.btn {
  border-radius: 40px;
}

/* Text color classes */
.text-brand {
  color: var(--brand-color);
}

/* Link color classes */
.link-brand {
  color: var(--brand-color);
  text-decoration: underline;
}

.link-brand:hover {
  color: var(--brand-link);
  cursor: pointer;
}

.diviseur {
  margin: 3rem 0;
  background-color: white;
  width: 50vw;
}

/* Extra small devices (portrait phones, less than 576px) */
/* @media (max-width: 575px) {
} */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Column management */
/* Small devices (landscape phones) */
@media (min-width: 576px) and (max-width: 767.98px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Column management */
/* Medium devices (tablets) */
@media (min-width: 768px) and (max-width: 991.98px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Column management */
/* Large devices (desktops) */
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
