footer {
  background-color: var(--black);
  color: var(--silver);
  text-align: center;
}

/* #wave-footer {
  cursor: pointer;
  shape-rendering: crispEdges;
  fill: url(#MyGradient);
} */

.wave-container {
  position: relative;
  background-color: #ffffff;
  /* background: transparent; */
  color: var(--black);
  text-align: center;
  overflow: hidden;
}

.wave-container > svg {
  display: block;
}

footer a:hover {
  text-decoration: none;
}

.popover-footer {
  font-size: 3em;
  text-decoration: none;
}

.popover-footer:hover {
  text-decoration: none;
  color: var(--whatsapp-color);
  cursor: pointer;
}

.popover-footer:focus {
  outline: 0;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Column management */
/* Small devices (landscape phones) */
@media (min-width: 576px) and (max-width: 767.98px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Column management */
/* Medium devices (tablets) */
@media (min-width: 768px) and (max-width: 991.98px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Column management */
/* Large devices (desktops) */
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
