[class*="-brand-icon"] {
  font-size: 3em;
  text-decoration: none;
  /* color: var(--silver); */
  filter: grayscale(100%);
}

[class*="-brand-icon"]:hover {
  filter: grayscale(0%);
}

.whatsapp-brand-icon {
  font-size: 3em;
  text-decoration: none;
}

.whatsapp-brand-icon:hover {
  text-decoration: none;
  border-radius: 5px;
  color: var(--whatsapp-color);
  cursor: pointer;
}

.whatsapp-brand-icon:focus {
  /* border-color: #ccc; */
  outline: 0;
}

.clipboard-icon:hover {
  cursor: pointer;
  color: var(--silver);
}

.instagram-brand-icon:hover {
  color: var(--instagram-color);
}

.facebook-brand-icon:hover {
  color: var(--facebook-color);
}

.mail-brand-icon:hover {
  color: var(--sun-flower);
}
