/* Extending the orginal class from Bootstrap */
.navbar {
  border-bottom: 1px solid var(--brand-color);
  background-color: var(--black);
  font-family: "Gobold Thin", "Quicksand", Calibri, "Trebuchet MS", sans-serif,
    cursive;
}

.nav-link:hover,
.navbar-nav .active {
  color: var(--brand-color) !important;
  cursor: pointer;
}

.navbar-nav .nav-link {
  text-align: center;
}
