/* Extending the orginal class from Bootstrap */
.navbar {
  border-bottom: 2px solid var(--brand-color);
  background-color: var(--black);
  letter-spacing: -0.5px;
}

.navbar-dropdown-menu {
  background-color: var(--black);
}

.navbar-dropdown-item:hover {
  background-color: unset;
}

.nav-link:hover,
.navbar-dropdown-menu .navbar-dropdown-item:hover {
  color: var(--brand-link) !important;
  cursor: pointer;
}

.navbar-nav .active {
  color: var(--brand-color) !important;
  cursor: pointer;
}

.navbar-nav .nav-link {
  text-align: center;
  color: white;
}
