/* Extending the orginal class from Bootstrap */
.navbar {
  border-bottom: 2px solid var(--brand-color);
  background-color: var(--black);
  letter-spacing: -0.5px;
}

.nav-link:hover,
.navbar-dropdown-menu .navbar-dropdown-item:hover {
  color: var(--brand-link) !important;
  cursor: pointer;
}

.navbar-nav .active {
  color: var(--brand-color) !important;
  cursor: pointer;
}

.navbar-nav .nav-link {
  text-align: center;
  color: var(--white);
}

.navbar-nav > li {
  float: left;
  position: relative;
}

.nav-item:hover::after,
.navbar-nav .active::after {
  border-bottom: 2px solid var(--brand-link);
  bottom: -2px;
  content: " ";
  left: 0;
  position: absolute;
  right: 0;
  max-width: 100px;
  text-align: center;
  margin: auto;
}

.navbar-nav .active::after {
  border-bottom: 2px solid var(--brand-color);
}

.dropdown-item.active {
  background-color: var(--black);
  color: var(--white) !important;
}

.navbar-brand:hover {
  cursor: pointer;
}

.hidden-link,
.hidden-link:active,
.hidden-link:focus,
.hidden-link:hover {
  text-decoration: none;
  color: var(--brand-color) !important;
  margin-bottom: -2px;
}

.dropdown-toggle::after {
  display: none;
}
